
.imgBurger{
    display: none;
}

.close{
  height: 23px;
}


@media all and (max-width: 998px) {
  body.scrollLock{
    overflow:hidden;
  }
}

@media all and (max-width: 996px) {
    .imgBurger{
      display: block;    
    }
  }
 