.relatedProduct {
    padding: 100px 0;
}
.container{
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (max-width: 992px) {
        max-width: 960px;
        margin: 0 auto;
    }

    @media screen and (max-width: 768px) {
        max-width: 720px;
        margin: 0 auto;
    }

    @media screen and (max-width: 576px) {
        max-width: 540px;
        margin: 0 auto;
    }

    @media screen and (max-width: 360px) {
        max-width: 320px;
        margin: 0 auto;
    }

}
.RelatedProductList {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 30px;

    @media screen and (max-width: 1130px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }

    @media screen and (max-width: 855px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 585px) {
        grid-template-columns: 1fr;
    }
}